@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* main styling*/
html,body{
    font-family: 'Lobster';
    line-height: 2em;
    background-color:rgb(51, 40, 119);
}

a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}

/*nav bar*/
.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    overflow: auto;
    border-radius: 5px;
    width: 100%;
    /*position:fixed ;*/
}

.navbar li{ 
float: right;
}

.navbar li a{
    color:white;
    display: block;
    text-decoration: none;
    padding: 15px 20px;
}

a:hover{
    color:lightslategray;
    font-size: 20px;
}


/*navbar logo*/
.logo{
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    /*text-shadow: 0.2rem 0.2rem 1rem white;*/
}

 .body-container{
     height: 1000px;
 }
.wrapper{
    max-width: 960px;
    margin: 50px auto;
    text-align: center;

}

h1{
    color:#4585F7;
    font-family: courier;
    font-size: 50px;
}


p{
    align-items: center;
    justify-content: center;
    color:black;
    font-size: 22px;
    font-weight: bold;
}

h1{
    color: snow;
    font-size: 30px;
    font-weight: bold;
}
.main{
    background-image:url("./images/workingremotely4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 500px;
    padding-left: 35px;


    
}
/*project section*/
.project-section1{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.project-section2{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}


/* grid section*/
.grid h1{
    font-size: large;
    color:white;
    font-weight: bold;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(200px auto);
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;
    grid-gap: 1rem;
    background-color: grey;
}


.container img{
object-fit: cover;
object-position: center;
width: 100%;
height: 100%;
border-radius: 10px;

}   

.b{
grid-column: 2/4;
}

.c{
    grid-column: 2/4;
    grid-row: 2;
    }

    .d{
        grid-row: 3;
        }
    

        .e{
            grid-column: 2/4;
            grid-row: 3;
            }
        
            strong{
    color: gray;
}


/*form section*/
form{
    display:inline-block;
    background-color:darkturquoise;
    padding-bottom: 40px;
    padding-top: 50px;
    margin-top: 50px;
   margin-bottom: 20px;
    border-right: 30px solid #4585F7;
    margin-left: 23rem;
    padding-left: 2rem;


}

form p{
    color:whitesmoke;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

form h1{
    margin-top: 10px;
}

form input{
    width: 350px;
    padding: 14px;
    background-color: rgb(211, 203, 203);
    border: none;
    border-radius: 10px;
    margin: 1rem;
}

form textarea{
    background: rgb(211, 203, 203);
    margin: 1.5rem;
}

form label{
    font-size: 22px;
    font-weight: bold;
    color: whitesmoke;
}

/*button section*/
.btn{
    width: 360px;
    padding: 15px;
    background-color:#4585F7;
    color: white;
    margin: 10px;
    border: none;
    border-radius:10px;
    font-size: 20px;
}

.btn:hover {
background-color:rgb(51, 37, 143);
color: white;
}


/*contact section*/
.contact p{
    color: whitesmoke;
    font-size: 22px;
    font-weight: bold;
}



.contact{
    align-items: center;
    justify-content: center;
    margin-left: 27rem;
}

h2{
margin-left: 20rem;
font-size: 33px;
color: whitesmoke;
font-weight: bold;
    
}

/*card section*/
.card{
    background-color:whitesmoke;
    padding: 20px;
    margin-bottom: 10px;
    border: 5px solid gray;
    margin: 10em;

}

/*typewriter section*/
.typewriter {
    position: relative;
    top: 50%;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    /*overflow: hidden;transform: translateY(-30%);*/
    font-size: 100%;
    animation: typewriter 4s steps(40) 4s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}
/*.intro{
    width: 100%;
    font-size: 100%;
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;

}*/

@keyframes typewriter {
    from {
        width: 0;
    }

    to  {
        width: 16em;
    }
}
    @keyframes blinkTextCursor{
        from {
            border-right-color: powderblue;
        }
        to {
            border-right-color: transparent;
        }
    }

/*footer section*/
#main-footer{
    display: inline-block;
    padding: 5px;
    background-color:gray;
    width: 100%;
    position: relative;
    top: 100%;
}

/*footer icons*/
.icons li a{
    float: right;
    font-size: 20px;
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    padding-bottom: 1em;
    /* margin-bottom: 20px; */
}
 li {
     list-style: none;
 }


.mee{
    padding-left: 5em;
    color: white;
    font-size: 20px;
    
}

/*media querie*/
@media only screen and ( max-width:500px)
    {
        .card{
            margin: 40px;
            padding: 4px;
            
        }

        header{
            padding: 20px 20px;
        }

        .navbar{
            position: fixed;
            top: 75px;
            left: -100%;
            display: block;
        }



        p{
            font-size: 1em;
        }

        input{
            width: 250px;
        }
        form textarea{
            width: 200px;
        }

        .navbar li {
        margin: 5px;
            
        }

        .icons li a{
            margin: 7px;
            padding-right: 2em;
        }
        .mee{
            padding-left: 2em;
        }
    }

