*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* main styling*/
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    background-color:smokewhite;
}

a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}

/*nav bar*/
.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:black;
    color: white;
    overflow: auto;
    border-radius: 5px;
}

.navbar li{ 
float: right;
}

.navbar li a{
    color:white;
    display: block;
    text-decoration: none;
    padding: 15px 20px;
}

a:hover{
    color:lightslategray;
    font-size: 20px;
}

.btn:hover{ 
    color: lightslategray;
}

form p{
    color: black;
    font-weight: bold;
}

.wrapper{
    max-width: 960px;
    margin: 50px auto;
    text-align: center;

}

p{
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 20px;
}

h1{
    color: snow;
    font-size: 30px;
    font-weight: bold;
}
img{
    border-radius: 50%;
}


strong{
    color: rgb(139, 26, 6);;
}

input{
    width: 350px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    margin: 20px;
    background-color: rgb(139, 26, 6);
    color: snow;
    
}

.card{
    background-color:black;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    border: 3px solid rgb(139, 26, 6);
    margin: 10em;

}

form textarea{
    background-color: rgb(139, 26, 6);
    color: snow;
}

form :placeholder{
    color:snow;
}

label {
    color: snow;
}

.typewriter {
    position: relative;
    top: 50%;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-30%);
    font-size: 100%;
    animation: typewriter 4s steps(40) 4s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}
/*.intro{
    width: 100%;
    font-size: 100%;
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;

}*/

@keyframes typewriter {
    from {
        width: 0;
    }

    to  {
        width: 16em;
    }
}
    @keyframes blinkTextCursor{
        from {
            border-right-color: powderblue;
        }
        to {
            border-right-color: transparent;
        }
    }

 
.btn{ 
    width: 150px;
    padding: 25px;
    background-color: rgb(139, 26, 6);
    color: white;
    margin: 10px;
    border: none;
    border-radius:17px;
    /* transition: background 2s ease-in-out; */
}
  .btn:hover {
background-color: blue;
color: white;

  }

/*footer*/
#main-footer{
    display: inline-block;
    color: white;
    padding: 5px;
    background-color:black;
    width: 100%;
    position: relative;
    top: 100%;
}

.icons li a{
    float: right;
    font-size: 20px;
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    padding-bottom: 1em;
    /* margin-bottom: 20px; */
}
 li {
     list-style: none;
 }


.logo{
    display: inline-block;
    padding: 20px;
    /*text-shadow: 0.2rem 0.2rem 1rem white;*/
}

.mee{
    padding-left: 5em;
    
}


@media only screen and ( max-width: 960px)
    {
        .card{
            margin: 40px;
            padding: 4px;
            
        }

        p{
            font-size: 1em;
        }

        input{
            width: 250px;
        }
        form textarea{
            width: 200px;
        }

        .navbar li {
        margin: 5px;
            
        }

        .icons li a{
            margin: 7px;
            padding-right: 2em;
        }
        .mee{
            padding-left: 2em;
        }
    }

